.container{
    height: 40rem;
    width: 80%;
    margin: 20rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphs{
    width: 80%!important;
}

.controller{
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 20%!important;
}

.controller .field{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}